/*BODY*/

a
{
  text-decoration: none;
}
body 
{
  font-family: 'Raleway', sans-serif;
}


#corps 
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

/*En haut*/
.top-page
{
  width: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
  justify-content: space-between;
}
.block-top {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.logo

{
  
  width: auto;
  height: auto;
}

/*NAVIGATION*/

nav ul
{
  display: flex;
  list-style: none;
}

nav a
{
 text-decoration: none;
 display: flex;
 color: black;
 
}
.sinscrire
{
  color: #0065FC;
  font-weight: bold;
}
nav li {
  font-size: 0.8em;
  margin-right: 19px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10%;
}

nav a:hover
{
  color:#0065FC;
  border-top: #0065FC 1px solid;
}

nav a:visited
{ 
  color:#0065FC;
}

/*block top*/

.accroche
{
  font-size: 0.8em;
  margin-top: 0.5%;
}

.titretop

{
  margin-top: 3%;
}

span.iconegps {
  padding: 15px 20px 15px 20px;
  background: #F2F2F2;
  font-size: 1.1em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


/*Barre de recherche*/

.BR
{
  
  width: 70%;
  position: relative;
  display: flex;
}

.search {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
 
  border: 1px solid #F2F2F2;
  border-right: none;
  padding-left: 3%;
  height: 51px;
 
  outline: none;
  color: black;
}

 
.bouton {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  height: 51px;
  border: 1px solid #F2F2F2;
  border-right: none;
  border-radius: 0 15px 15px 0;
  color: white;
  background: #0065FC;
}



/* Filre */

li
{
  list-style: none;
}

.nomfiltre
{
 
    border: 2px solid #F2F2F2;
    border-left: 0px;
    border-radius: 0px 15px 15px 0px;
    font-weight: bolder;
    background-color: white;
    margin-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.filterbar
{
  display: flex;
  margin-top: 1%;
  
}

.filtre
{
  
  font-weight: bold;
  display: flex;
  
}

.filtreliste
{
  
  display: flex;
  font-family: 'Raleway', sans-serif;
  

}

span.iconefiltre {
  
    background: #DEEBFF;
    color: #0065FC;
    padding: 15px 15px 15px 15px;
    border-radius: 50%;
    height: 13px;
    margin-right: -12px;
}


/* info */

span.iconeinfo
{
   
    color: #0065FC;
    font-size: small;
    padding: 5px 5px 5px 5px;
    outline-style:solid;
    outline-color: #F2F2F2;
}

.info

  {
  display: flex;
  text-align:left;
  }

.infoville
{
  font-size: 0.7em;
  margin-left: 0.5%;
  margin-bottom: auto;
}

/* Les étoiles */

.etoilebleu, .etoilegrise
{
  font-size: 0.6em;
}

/* Hebergement */

.groupe1
{
  display: flex;
  margin-top: 15px;
  
}

.hebergement
{
  width: 70%;
  border: #F2F2F2 solid 1px;
  border-radius: 15px 15px 15px 15px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: flex-start;
 
 
}

.hebergement h1
{
  display: flex;
  font-size: 1em;
  margin-bottom: 3%;
  
}


.conteneur
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
  
}

.bloc_h
{
  display: flex;
  flex-wrap: wrap;
  
  
}
img.imgblanche
{
  
  border-radius:  15px 15px 0px 0px;
  width: 200px;
  height: 100px;
  padding: 3px;
  
}

.imageh
{
  margin-right: 30px;
}


p a:visited
{
  color: black;
}

.afficher
{
  font-size: 0.8em;
  margin-top: 3%;
  font-weight: bold;

}

/* hebergement et les + populaire*/

.titrehotel
{
  font-size: 12px;
  font-weight: bold;
  
}

.prix
{
  font-size: 10px;
  
}

.etoile
{
  padding-left: 15px;
}

.etoilebleu
{
  color: #0065FC;
 
}

.etoilegrise
{
  color: #F2F2F2;
  
}
article {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px 3px lightgrey;
}

/* Les plus populaires */


aside h1
{
  
  font-size: 1em;
}

.iconepop
{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.popicone
{
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;

}

.imagep
{
  display: flex;
  margin-bottom: 30px;
  
}

.imgblanchep
{
  border-radius: 15px 0px 0px 15px;
  width: 90px;
  height: 90px;
  padding-left: 3px;
  padding-top: 3px;

}
aside {
  display: flex;
  width: 20%;
  position: relative;
  background-color: #F2F2F2;
  border-radius: 15px 15px 15px 15px;
  padding-left: 3%;
  padding-right: 5%;
  font-size: 0.9em;
  flex-direction: column;
  margin-right: 0%;
  margin-left: 3%;
  padding-top: 15px;
  
}





/* Les activités */

.groupe2
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -150px;
}

.activites
{
  display: flex;
  margin-left: 15px;
  
 
}

.activites h2
{
  color: chocolate;
  margin-top: 45px;
  padding-left: 55px;

}

.sous_gpe_1
{
  
}

.art
{
  background-color: purple;
  margin-top: 50px;
  box-shadow: #F2F2F2 0px 5px 2px;
  
}

.imgart
{
 display: flex;
 width: 100px;
 flex-direction: column;
 border-radius: 15px 15px 0px 0px;
}




/* Footer */

footer
{
   display: flex;
    background-color: #F2F2F2;
    padding-top: 25px;
    padding-left: 40px;
    margin-top: 20px;

}

footer h1
{
    font-size: 1em;
}

footer p
{
  font-size: 0.8em;
}

.propos
{
  width: 30%;
  
 
}

.nosheb
{
  width: 30%;
}

.assistance
{
  width: 30%;
}