/*BODY*/

a
{
  text-decoration: none;
}
body 
{
  font-family: 'Raleway', sans-serif;
  width: auto;
}


#corps 
{
  width: 90%;
  margin-left: 3%;
  margin-right: 3%;
  color: black;
  
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

/*En haut*/

header
{
  padding-top: 10px;
}

.top-page
{
  width: auto;
  display: flex;
  align-items: flex-end;
  list-style: none;
  justify-content: space-between;
}
.block-top {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.logo

{
  
  width: auto;
  height: auto;
}

/*NAVIGATION*/

nav ul
{
  display: flex;
  list-style: none;
  margin-right: 60px;
  padding-right: 30px;
}

nav a
{
 text-decoration: none;
 display: flex;
 color: black;
;
 
}

nav li a {
  padding-top: 25px;
  margin-top: -15px;
}
.sinscrire
{
  color: #0065FC;
  font-weight: bold;
  margin-left: 30px;
}

.sinscrire a
{
  color: #0065FC;
}

nav li {
  font-size: 0.8em;
  margin-right: 19px;
  margin-left: px;
  padding-left: 10%;

}


nav a:hover
{
 
  border-top: #0065FC 1px solid;
  color:#0065FC;
}



/*block top*/

.accroche
{
  font-size: 0.8em;
  margin-top: 0.2%;
}

.titretop

{
  margin-top: 3%;
  margin-bottom: 0.2%;
}




/*Barre de recherche*/

.BR
{
  
  width: 70%;
  position: relative;
  display: flex;
}

.search {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
 
  border: 1px solid #F2F2F2;
  border-right: none;
  padding-left: 3%;
  height: 40px;
 
  outline: none;
  color: black;
}

 
.bouton {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  height: 40px;
  border: 1px solid #F2F2F2;
  border-right: none;
  border-radius: 0 15px 15px 0;
  color: white;
  background: #0065FC;
  padding-left: 15px;
  padding-right: 15px;
}

.loupe
{
  display: none;
}

span.iconegps {
  display: flex;
  padding: 10px 13px 15px 17px;
  background: #F2F2F2;
  font-size: 1.1em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 15px;
}


/* Filre */

li
{
  list-style: none;
}

.nomfiltre
{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px 32px 32px 10px;
  border: #F2F2F2 3px solid;
  border-left: none;
  padding-right: 28px;
  padding-left: 43px;
  margin-left: 15px;
}

.filterbar
{
  display: flex;
  margin-top: 1%;
  align-items: baseline;
  
}

.filtre
{
  
  font-weight: bold;
  display: flex;
  
}

.filtreliste
{
  
  display: flex;
  font-family: 'Raleway', sans-serif;
  

}

span.iconefiltre {
  
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -49px;
  margin-left: 10px;


}

.mediafiltre1
{
  display: flex;
}
/* info */

span.iconeinfo
{
  display: flex;
  font-size: 0.6em;
  justify-content: center;
  width: 2px;
  color: #0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 8px;
  margin-top: 8px;
  height: 2px;
  align-items: center;
}

.info

  {
  display: flex;
  text-align:left;
  }

.infoville
{
  font-size: 0.7em;
  margin-left: 0.5%;
  margin-bottom: auto;
}

/* Les étoiles */

.etoilebleu, .etoilegrise
{
  font-size: 0.6em;
}

/* Hebergement */

.groupe1
{
  display: flex;
  margin-top: 15px;
  
}

.hebergement
{
  width: 70%;
  border: #F2F2F2 solid 1px;
  border-radius: 15px 15px 15px 15px;
  background-color: #F2F2F2;
  display: flex;
  justify-content: flex-start;
 
 
}

.hebergement h1
{
  display: flex;
  font-size: 1em;
  margin-bottom: 3%;
  
}


.conteneur
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 3%;
  margin-right: 3%;

  
}

.lienh
{
  max-width: 300px;
}

.bloc_h
{
 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

img.imgblanche {
  border-radius: 15px 15px 0px 0px;
  width: 250px;
  height: 150px;
  padding: 3px;
}

.imageh
{
 max-width: 100%;
}


p a:visited
{
  color: black;
}

.afficher
{
  font-size: 0.8em;
  margin-top: 3%;
  font-weight: bold;

}

/* hebergement et les + populaire*/

.titrehotel
{
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -6px;
  margin-top: 2px;
  

}



.prix
{
  font-size: 10px;
  margin-bottom: 1px;
}

.prixp
{
  font-size: 10px;
  margin-bottom: 15px;
}
.etoile
{
  padding-left: 15px;
  margin-left: -5px;
}

.etoilebleu
{
  color: #0065FC;
 
}

.etoilegrise
{
  color: #F2F2F2;
  
}
article {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 5px 3px lightgrey;
}

/* Les plus populaires */


aside h1
{
  
  font-size: 1em;
}

.iconepop
{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 10px;
}

.popicone
{
  text-align: center;
  padding-top: 15px;
  padding-right: 10px;

}


.imagep
{
  display: flex;
  margin-top: 10px;
  margin-bottom: 50px;
  
}

.imgblanchep
{
  border-radius: 15px 0px 0px 15px;
  width: 100px;
  height: 100px;
  padding-left: 3px;
  padding-top: 3px;
  
  

}
aside {
  display: flex;
  width: 20%;
  position: relative;
  background-color: #F2F2F2;
  border-radius: 15px 15px 15px 15px;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 0.9em;
  flex-direction: column;
  margin-right: 3%;
  margin-left: 3%;
  padding-top: 15px;
  
  
}


.etoilepopulaire
{
  margin-top: 30px;
}

.etoilep
{
  margin-top: 9px;
  margin-left: 10px;
  
}


/* Les activités */

.groupe2
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -150px;
  width: 92%;
}

.sous_gpe_2, .sous_gpe3
{
  margin-top: 50px;
  
}

.activites
{
  display: flex;
  margin-left: 0%;
  margin-right: 5%;
  
}

.activites h2
{
  color: black;
  margin-top: 45px;
  padding-left: 55px;

}


.art
  {
    margin-bottom: 40px;
    height: 220px ;
    width: 300px;
    padding: 0px 0px  50px 0px;
    
  }


.imgart3
  {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;

  }


.art1
{
  background-color: white;
  margin-top: 50px;
  border-radius: 15px ;
  box-shadow: #F2F2F2 5px 5px 5px 3px;
  height: 355px;
  width: 300px;
  padding: 0px 0px  190px 0px;

 
}

.artfrioule {
  height: 120px;
  width: 300px;
  padding: 0px 0px 50px 0px;
  margin-top: 95px;
}

.imgart
{
 display: flex;
 width: 300px;
 height: 500px;
 flex-direction: column;
 border-radius: 15px 15px 0px 0px;
}

.imgart2
{
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: #F2F2F2 0px 0px 5px 3px;
}



.nomactivite
{
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 15px;
  padding-bottom: 8px;
}



/* Footer desktop */

footer
{
    display: flex;
    width: 100%;
    background-color:#F2F2F2;
    padding-top: 25px;
    padding-left: 40px;
    
    margin-top: 20px;
}

footer h1
{
    font-size: 1em;
}
footer p
{
    font-size: 0.8em;
}
.propos
{
    width: 30%;
  
}
.nosheb
{
  width: 30%;
}
.assistance
{
  width: 30%;
}

/* Media queries mobile */

@media  (max-width: 480px)
{


    #corps
    {
      max-width: 1440px;
      width: 100%;
      margin: 0%;
      

    }


    /*En haut MQ mobile*/


    .sinscrire
    {
      position: absolute;
    }

  .logo

  {
    width: 100%;
    
  }

    .logo, .sinscrire

    {
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
    }

    /*block top MQ mobile*/

    .accroche
    {
      font-size: 0.8em;
      margin-top: 3%;
    }




    /*Navigation MQ mobile*/


      nav
      {
          width: auto;
          position: absolute;
          width: 100%;
        
      }
      
      .sinscrire
      {
        margin-left: 0%;
      }
    
        nav ul
      {
          flex-direction:column-reverse;
      }

      nav li
      {
          padding-left: 0px;
      }
    
      nav a
      {
          font-size: 1.1em;
      }
    
      nav a:hover
      {
          border-bottom: 0;
      }

    .groupe1
    {
      display: flex;
      flex-direction: column;
    }



    /*Barre de recherche MQ mobile*/

    .BR
    {
      
      margin-top: 5%;
    }

    .search 
    {
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
      
        border: 1px solid #F2F2F2;
        border-right: none;
        padding-left: 3%;
        height: 40px;
      
        outline: none;
        color: black;
    }

  
    .bouton 
    {
      
        display: none;
    }

    .loupe
    {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: white;
      background: #0065FC;
      border-radius: 11px;
      border: none;
      padding: 15px 15px 15px 15px;
    }

    span.iconegps {
      display: flex;
      padding: 10px 13px 15px 17px;
      background: #F2F2F2;
      font-size: 1.1em;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      height: 15px;
    }




    /*Filtre MQ mobile*/

    li
    {
      list-style: none;
    }

    .mediafiltre1
    {
      display: flex;
      margin-bottom: 5%;
    }

    .filterbar
    {
      display: flex;
      flex-direction: column;
      margin-top: 8%;
    }

    .filtre
    {
      
      font-weight: bold;
      display: flex;
      
    }

    .filtreliste
    {
      
      display: flex;
      flex-direction: column;
      font-family: 'Raleway', sans-serif;
      padding-left: 0%;
    
    }


    /* Les sections MQ mobile */

    .groupe1
    {
      display: flex;
      flex-direction: column-reverse;
    }



    /* Hebergement  MQ Mobile*/

    .groupe1
    {
      display: flex;
      margin-top: 15px;
      
    }

    .hebergement
    {
      width: 100%;
      border: none;
      border-radius: 0%;
      background-color: white;
      display: flex;
      justify-content: flex-start;
    
    
    }

    .hebergement h1
    {
      display: flex;
      font-size: 1em;
      margin-bottom: 5%;
      
    }


    .conteneur
    {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 5%;
      margin-top: 2%;
      
    }

    .bloc_h
    {
      display: flex;
      flex-wrap: wrap;
    
    }

    img.imgblanche
    {
      
      border-radius:  15px 15px 0px 0px;
      width: 100%;
      height: 100px;
      padding: 0%;
      
    }

    .imageh
    {
      margin-right: 0;
      padding: 5px;
    }


    p a:visited
    {
      color: black;
    }

    .afficher
    {
      font-size: 0.8em;
      margin-top: 3%;
      font-weight: bold;

    }

    /* hebergement et les + populaire MQ Mobile*/

    .titrehotel
    {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      font-weight: bold;
      
      margin-top: 2px;
      

    }


    article {
      background-color: white;
      border-radius: 15px 15px 15px 15px;
      margin-bottom: 10px;
      margin-right: 40px;
      box-shadow: 0px 0px 5px 3px lightgrey;
    }

    /* Les plus populaires MQ mobile*/


    aside h1
    {
      
      font-size: 1em;
    }

    .iconepop
    {
      display: flex;
      flex-direction:row;
      justify-content: space-between;
      
    }

    .popicone
    {
      text-align: center;
      padding-top: 15px;
      padding-right: 10px;

    }



    .imgblanchep
    {
      border-radius: 15px 0px 0px 15px;
      width: 90px;
      height: 90px;
      padding-left: 3px;
      padding-top: 3px;

    }
    aside 
    {
      display: flex;
      width: 100%;
      border-radius: 0%;
      padding: 0%;
     
    }

    /* Les activités MQ mobile */

    .groupe2
    {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 15px;
      margin-left: 0px;
      width: 100%;
    }

    .sous_gpe_2, .sous_gpe3
    {
      margin-top: 0px;
      
    }

    .activites
    {
      display: flex;
      flex-direction: column;
      
    }

    .activites h2
    {
      color: black;
      margin-top: 30px;
      padding-left: 0px;

    }
  

    .art1, .art
    {
      background-color: white;
      margin-top: 0px;
      border-radius: 15px ;
      box-shadow: #F2F2F2 0px 0px 5px 3px;
      padding: 0px;
      height: 140px;
    }

    .imgart, .imgart2, .imgart3
    {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100px;
      border-radius: 15px 15px 0px 0px;
    }

  

  .nomactivite
  {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 8px;
  }


  /* Footer media queries mobile */

  footer
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-left: 40px;
    margin-top: 20px;

  }

  

 

 }


/* Media queries Tablette portrait and ladscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)

{

    /* Les + populaires tablette */

  aside {
    display: flex;
    width: 40%;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
    padding-left: 4%;
    padding-right: 0%;
    font-size: 0.9em;
    flex-direction: column;
    margin-right: 0%;
    margin-left: 3%;
    padding-top: 0px;
  }
    

  /* Les activités tablette */


  .groupe2
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 0px;
    width: 80%;
  }

  .sous_gpe_2, .sous_gpe3, .sous_gpe_1
  {
    margin-top: 0px;
    width: 80%;
    
  }

  .activites
  {
    display: flex;
    flex-direction: column;
    width: 80%;
  
  }

  .activites h2
  {
    color: black;
    margin-top: 30px;
    padding-left: 0px;

  }


  .art1, .art
  {
    background-color: white;
    margin-top: 0px;
    border-radius: 15px ;
    box-shadow: #F2F2F2 0px 0px 5px 3px;
    
  

  }

  .imgart, .imgart2, .imgart3
  {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100px;
    border-radius: 15px 15px 0px 0px;
  }

  }

  .nomactivite
  {
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 15px;
    padding-bottom: 8px;
  }




